/* assets/css/custom.css */

.table td, .table th {
    max-width: 150px; /* largura máxima por célula */
    white-space: nowrap; /* impede quebra de linha */
    overflow: hidden; /* corta o texto que ultrapassa */
    text-overflow: ellipsis; /* adiciona ... no final */
}

.table .actions {
    width: 100px; /* largura fixa para coluna de ações */
}
